{% extends "user/layout.html" %}
{% block content %}
{% if current_user.is_authenticated %}
<div class="content-section">
    <h3>Phiếu gửi tiền</h3>
    <form class="form-group" method="POST">
        <div class="row">
            <ul class="list-group col-md-1"></ul>
            <ul class="list-group col-md-4">
                <li class="list-group-item"></li>
                <li class="list-group-item"><label class="">Mã sổ</label></li>
                <li class="list-group-item"><label class="">Tên khách hàng</label></li>
                <li class="list-group-item"><label class="">Số tiền</label></li>
                <li class="list-group-item"></li>
                <hr>
            </ul>
            <ul class="list-group col-md-6">
                <li class="list-group-item"></li>
                <li class="list-group-item"><input class="col-md-12" type="text" name="charge_id_cus" required></li>
                <li class="list-group-item"><input class="col-md-12" type="number" name="charge_name_cus" required></li>
                <li class="list-group-item"><input class="col-md-12" type="text" name="charge_money_cus" required></li>
                <li class="list-group-item"></li>
            </ul>
        </div>
        <input class="btn btn-outline-info col-md-3 " type="submit" id="submit"
               value="Nạp tiền">
        </p>
    </form>
</div>
{% else %}
<h1>Vui lòng đăng nhập để sử dụng hệ thống</h1>
{% endif %}
{% endblock content %}