{% extends "user/layout.html" %}
{% block content %}
{% if current_user.is_authenticated %}

<div>
    <h2 class="text-center text-info">DANH SÁCH SỔ TIẾT KIỆM</h2>
    <table class="table table-bordered">
        <thead>
            <tr class="text-center">
                <th class="align-middle">Mã sổ</th>
                <th class="align-middle">Tên khách hàng</th>
                <th class="align-middle">Địa chỉ</th>
                <th class="align-middle">CMND</th>
                <th class="align-middle">Số điện thoại</th>
                <th class="align-middle">Số tiền</th>
                <th class="align-middle">Loại tiết kiệm</th>
                <th class="align-middle">Ngày tạo</th>
                <th></th>
            </tr>
        </thead>
    <tbody>
    {% if passbooks %}
        {% for p in passbooks %}
            <tr>
                {% for x in passbook_type %}
                    {% if x.id == p.passbook_type_id %}
                        <td class="text-center">{{ p.id }}</td>
                        <td>{{ p.customer_name }}</td>
                        <td>{{ p.address }}</td>
                        <td>{{ p.id_number }}</td>
                        <td>{{ p.phone }}</td>
                        <td  class="text-right">{{ "{:,.0f}".format(p.money) }}đ</td>
                        <td class="text-center">{{ x.type_name }}</td>
                        <td class="text-center">{{ p.created_date.strftime('%d/%m/%Y') }}</td>
                        <td>
                            <div class="btn-group">
                                <button id="myBtn" class="btn btn-danger">
                                    <i class="fas fa-trash-alt"></i>
                                </button>
                                </br>
                                <button id="delete" class="btn btn-info">
                                    <i class="fas fa-edit"></i>
                                </button>
                            </div>
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    {% endif %}
    </tbody>
    </table>
</div>



{% else %}
<h1>Vui lòng đăng nhập để sử dụng hệ thống</h1>
{% endif %}
{% endblock content %}